@import url('https://fonts.googleapis.com/css?family=Spirax');

h1 {
  font-family: 'Spirax', cursive;
  text-align: center;
  font-size: 80px;
  color: #a14016;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  border: 12px ridge #a14016;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}
.card {
  background-color: #ea4335;
  border: 5px solid #ea9900;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  padding: 5px;
}

.matched {
  opacity: 0.5;
}

.revealed.camera, .matched.camera {
  background: url("images/camera.jpg") no-repeat center;
}

.revealed.camera2, .matched.camera2 {
  background: url("images/camera2.jpeg") no-repeat center;
}

.revealed.cassette, .matched.cassette {
  background: url("images/cassette.jpeg") no-repeat center;
}

.revealed.guitar, .matched.guitar {
  background: url("images/guitar.jpeg") no-repeat center;
}

.revealed.television, .matched.television {
  background: url("images/television.jpeg") no-repeat center;
}

.revealed.diskette, .matched.diskette {
  background: url("images/diskette.jpeg") no-repeat center;
}

.revealed.gameBoy, .matched.gameBoy {
  background: url("images/gameBoy.jpeg") no-repeat center;
}

.revealed.microphone, .matched.microphone {
  background: url("images/microphone.jpeg") no-repeat center;
}

/*body {
  @include font-smoothing(on);

  margin: 10px;
  font: $base-text-size / 1 $base-font-family;

}*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*body.modal section {
  filter: blur(5px);
}*/

.dialog {
  height: 200px;
  width: 200px;
  background-color: red;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #333;
}
